h1 {
    text-align: center;
    color: #A9927D;
  }

  body {
    background-color: #F2F4F3;
    text-align: center;
  }

  nav {
    background-color: #0A0908;
  }

  nav a{
  text-decoration: none;
  color: #F2F4F3;
  }

  nav li {
    display: inline;
    margin: 25px;
  }

 .col-sm-6 {
  display: inline;
  margin-left: auto;
  
 }
* {
  color: 40476D
}

main {
  margin-right: 20px;
  margin-left: 20px;
  
}


 /* footer */

 /* html, body {
    height: 50%;
    margin: 0;
 }

 .wrappter {
  min-height: 100%;
  margin-bottom: -50px;
 }

 .footer, .push{
  height: 50px;
 } */